/* common shared styles */
* {
    
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color:#FD6E0A ;
}
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color:#FFF;
    padding: 8px 15px;
    font-weight: 500;
    font-size: 20px;

}
/* nav styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
.nav-title {
    color: #181818;
    font-size: 25px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
    
}
nav a {
    text-decoration: none;
    color:  #474747;
}
/* header styles */
.header{
    background: #FFF8F3;
}
/* banner styles */
.banner{
    display: flex;
    padding: 30px 30px 30px 100px;
    align-items: center;
}
.banner .profile-pic {
    width: 500px;
    /* height: 450px; */
}